<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>403 - Forbidden</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/views/404/styles.css" />
	</head>
	<body>
		<h1>403</h1>
		<p>Oops! You do not have access to this!</p>
		<a href="/">Go Back to Home</a>

		<footer>
			<p>
				&copy; 2024 Rollerblade Rental |
				<a href="/rollerblades">Rent</a> |
				<a href="/contact">Contact</a>
			</p>
		</footer>
	</body>
</html>
